@model CoreApi.ViewModels.HomeViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@section css
{
    <link rel="stylesheet" href="~/css/views/home/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
}

@section Scripts
{
    <script src="~/dist/autoNumeric.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/modal.js"></script>
    <script src="~/dist/printThis.js"></script>
    <script type="text/javascript">
        $('#menu-tab .item').tab();

        $(document).ready(function () {
            var d = new Date();
            $("#DateNow").append("Tp.HCM, Ngày " + d.getDate() + " Tháng " + (d.getMonth() + 1) + " Năm " + d.getFullYear());

            $('#sEND_GEMAIL_IDEALLY').hide();
            $('#sEND_GEMAIL_REQUEST').show();
            $("#sEARCH").keyup(function () {
                $("#rESULT").children("a").end().find(":not(:contains('" + $("#sEARCH").val() + "'))").each(function () {
                    $(this).hide();
                });

                $("#rESULT").children("a").end().find(":contains('" + $("#sEARCH").val() + "')").each(function () {
                    $(this).show();
                });
            });

            //Get Employees
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllEmployees")",
                data: {},
                traditional: true,
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (index, value) {
                        if (value["EmpCode"] != 'null') {
                            $("#Employees").append(
                                "<option value='" + value["EmpCode"] + " - " + value["FullName"] + "'></option>"
                            );
                        }
                    });
                }
            });

            //Get Position
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPosition")",
                data: {},
                traditional: true,
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (index, value) {
                        if (value["PositionCode"] != 'null') {
                            $("#Position").append(
                                //"<option value='" + value["PositionCode"] + " - " + value["Title"] + "'></option>"
                                "<option value='" + value["PositionCode"] + " - " + value["Title"] + "'></option>"
                            );
                        }
                    });
                }
            });

            //Get Level1
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllLevel1")",
                data: {},
                traditional: true,
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (index, value) {
                        if (value["Level1"] != 'null') {
                            $("#Level1").append(
                                //"<option value='" + value["Level1Id"] + "-" + value["Level1Name"] + "'></option>"
                                "<option value='" + value["Level1Id"] + " - " + value["Level1Name"] + "'></option>"
                            );
                        }
                    });
                }
            });

            //Get Level2
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllLevel2")",
                data: {},
                traditional: true,
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (index, value) {
                        if (value["Level2"] != 'null') {
                            $("#Level2").append(
                                "<option value='" + value["Level2Id"] + " - " + value["Level2Name"] + "'></option>"
                            );
                        }
                    });
                }
            });

            //Get CurrentUser
            @*$.ajax({
                type: "GET",
                url: "@Url.Action("GetCurrentUserAsync", "Home")",
                data: {},
                traditional: true,
                dataType: 'json',
                success: function (data) {
                    $("#listPersons").append("<p value='" + data["EmpCode"] + "'>" + data["FullName"] + " - " + data["Username"] + "</p>");
                }
            });*@

            $("#date_End").change(function () {
                if (new Date($("#date_End").val()) < new Date($("#date_Start").val())) {
                    $("#aTTENTION_CONTENT").text("Xin chọn ngày hợp lệ");
                    $("#btn_ATTENTION").click();
                    $("#date_End").val(0);
                }
            });

            $("#addPerson").click(function () {
                var cOUNT = $("#listPersons").find("p").length;
                if ($("#input_Position").val().length > 0) {
                    if ($("#listPersons").find("p[value='" + $("#input_Position").val() + "']").length > 0) {
                        $("#aTTENTION_CONTENT").text("Đã có thông tin người dùng");
                        $("#btn_ATTENTION").click();
                    }
                    else {
                        $("#listPersons").append("<div id='person_" + cOUNT + "' style='display: flex'>"
                            + "<p value='" + $("#input_Position").val() + " - Position" + "'>" + $("#input_Position").val() + "</p>"
                            + "<a onclick='RemoveListPersons(person_" + cOUNT + ")' style='margin-left: 10px'><i class='fas fa-trash-alt'></i></a>"
                            + "</div>");
                    }
                    $("#input_Position").val("");
                }
                else if ($("#input_Employee").val().length > 0) {
                    if ($("#listPersons").find("p[value='" + $("#input_Employee").val() + "']").length > 0) {
                        $("#aTTENTION_CONTENT").text("Đã có thông tin người dùng");
                        $("#btn_ATTENTION").click();
                    }
                    else {
                        $("#listPersons").append("<div id='person_" + cOUNT + "' style='display: flex'>"
                            + "<p value='" + $("#input_Employee").val() + " - Employee" + "'>" + $("#input_Employee").val() + "</p>"
                            + "<a onclick='RemoveListPersons(person_" + cOUNT + ")' style='margin-left: 10px'><i class='fas fa-trash-alt'></i></a>"
                            + "</div>");
                    }
                    $("#input_Employee").val("");
                }
                else if ($("#input_Level1").val().length > 0) {
                    if ($("#listPersons").find("p[value='" + $("#input_Level1").val() + "']").length > 0) {
                        $("#aTTENTION_CONTENT").text("Đã có thông tin người dùng");
                        $("#btn_ATTENTION").click();
                    }
                    else {
                        $("#listPersons").append("<div id='person_" + cOUNT + "' style='display: flex'>"
                            + "<p value='" + $("#input_Level1").val() + " - Level1" + "'>" + $("#input_Level1").val() + "</p>"
                            + "<a onclick='RemoveListPersons(person_" + cOUNT + ")' style='margin-left: 10px'><i class='fas fa-trash-alt'></i></a>"
                            + "</div>");
                    }
                    $("#input_Level1").val("");
                }
                else if ($("#input_Level2").val().length > 0) {
                    if ($("#listPersons").find("p[value='" + $("#input_Level2").val() + "']").length > 0) {
                        $("#aTTENTION_CONTENT").text("Đã có thông tin người dùng");
                        $("#btn_ATTENTION").click();
                    }
                    else {
                        $("#listPersons").append("<div id='person_" + cOUNT + "' style='display: flex'>"
                            + "<p value='" + $("#input_Level2").val() + " - Level2" + "'>" + $("#input_Level2").val() + "</p>"
                            + "<a onclick='RemoveListPersons(person_" + cOUNT + ")' style='margin-left: 10px'><i class='fas fa-trash-alt'></i></a>"
                            + "</div>");
                    }
                    $("#input_Level2").val("");
                }
                //console.log($("#viewPermission").find("p[value='" + $("#input_Position").val() + "']").length);
                //console.log($("p[value='" + $("#input_Position").val() + "']"));
                //else if ($("#input_Position").val().length > 0) {
                //    $("#viewPermission").append("<div id='" + cOUNT + "' style='display: flex'>"
                //        + "<p value='" + $("#input_Position").val() + "'>" + $("#input_Position").val() + "</p>"
                //        + "<a onclick='removeViewPermission(" + cOUNT + ")' style='margin-left: 10px'><i class='fas fa-trash-alt'></i></a>"
                //        + "</div>");
                //}
                @*var flag = 0;
                if ($("#input_ID").val().length > 0) {
                    $('#viewPermission').find("p").each(function () {
                        if ($("#input_ID").val() === $(this).attr("value")) {
                            $("#aTTENTION_CONTENT").text("Đã có thông tin người dùng");
                            $("#btn_ATTENTION").click();
                            flag = 1;
                            return false;
                        }
                    });

                    if (flag == 0) {
                        $.ajax({
                                type: "GET",
                                url: "@Url.Action("GetCurrentUserByIDAsync", "Home")",
                                data: { id: $("#input_ID").val() },
                                traditional: true,
                                dataType: 'json',
                                success: function (data) {
                                    if (data === null) {
                                        $("#aTTENTION_CONTENT").text("Không tìm thấy mã nhân sự");
                                        $("#btn_ATTENTION").click();
                                        $("#" + id).val("");
                                        return;
                                    }
                                    else {
                                        $("#viewPermission").append("<div id='" + data["Username"] + "' style='display: flex'>"
                                            + "<p value='" + data["EmpCode"] + "'>" + data["FullName"] + " - " + data["Username"] + "</p>"
                                            + "<a onclick='rEMOVE_viewPermission(" + data["Username"] + ")' style='margin-left: 10px'><i class='fas fa-trash-alt'></i></a>"
                                            + "</div>");
                                    }
                            }
                        });
                    }
                };*@
            });

            $("#addPerson_modal").click(function () {
                var cOUNT = $("#listPersons_modal").find("p").length;
                if ($("#input_Position_modal").val().length > 0) {
                    if ($("#listPersons_modal").find("p[value='" + $("#input_Position_modal").val() + "']").length > 0) {
                        $("#aTTENTION_CONTENT").text("Đã có thông tin người dùng");
                        $("#btn_ATTENTION").click();
                    }
                    else {
                        $("#listPersons_modal").append("<div id='person_Modal_" + cOUNT + "' style='display: flex'>"
                            + "<p value='" + $("#input_Position_modal").val() + " - Position" + "'>" + $("#input_Position_modal").val() + "</p>"
                            + "<a onclick='RemoveListPersons(person_Modal_" + cOUNT + ")' style='margin-left: 10px'><i class='fas fa-trash-alt'></i></a>"
                            + "</div>");
                    }
                    $("#input_Position_modal").val("");
                }
                else if ($("#input_Employee_modal").val().length > 0) {
                    if ($("#listPersons_modal").find("p[value='" + $("#input_Employee_modal").val() + "']").length > 0) {
                        $("#aTTENTION_CONTENT").text("Đã có thông tin người dùng");
                        $("#btn_ATTENTION").click();
                    }
                    else {
                        $("#listPersons_modal").append("<div id='person_Modal_" + cOUNT + "' style='display: flex'>"
                            + "<p value='" + $("#input_Employee_modal").val() + " - Employee" + "'>" + $("#input_Employee_modal").val() + "</p>"
                            + "<a onclick='RemoveListPersons(person_Modal_" + cOUNT + ")' style='margin-left: 10px'><i class='fas fa-trash-alt'></i></a>"
                            + "</div>");
                    }
                    $("#input_Employee_modal").val("");
                }
                else if ($("#input_Level1_modal").val().length > 0) {
                    if ($("#listPersons_modal").find("p[value='" + $("#input_Level1_modal").val() + "']").length > 0) {
                        $("#aTTENTION_CONTENT").text("Đã có thông tin người dùng");
                        $("#btn_ATTENTION").click();
                    }
                    else {
                        $("#listPersons_modal").append("<div id='person_Modal_" + cOUNT + "' style='display: flex'>"
                            + "<p value='" + $("#input_Level1_modal").val() + " - Level1" + "'>" + $("#input_Level1_modal").val() + "</p>"
                            + "<a onclick='RemoveListPersons(person_Modal_" + cOUNT + ")' style='margin-left: 10px'><i class='fas fa-trash-alt'></i></a>"
                            + "</div>");
                    }
                    $("#input_Level1_modal").val("");
                }
                else if ($("#input_Level2_modal").val().length > 0) {
                    if ($("#listPersons_modal").find("p[value='" + $("#input_Level2_modal").val() + "']").length > 0) {
                        $("#aTTENTION_CONTENT").text("Đã có thông tin người dùng");
                        $("#btn_ATTENTION").click();
                    }
                    else {
                        $("#listPersons_modal").append("<div id='person_Modal_" + cOUNT + "' style='display: flex'>"
                            + "<p value='" + $("#input_Level2_modal").val() + " - Level2" + "'>" + $("#input_Level2_modal").val() + "</p>"
                            + "<a onclick='RemoveListPersons(person_Modal_" + cOUNT + ")' style='margin-left: 10px'><i class='fas fa-trash-alt'></i></a>"
                            + "</div>");
                    }
                    $("#input_Level2_modal").val("");
                }
            });

            $('#joinPermission > input').each(function () {
                 $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetCurrentUserByIDAsync", "Home")",
                    data: { id: $(this).val() },
                    traditional: true,
                     success: function (data) {
                        $("#joinPermission").append("<p>" + data["FullName"] + " - " + data["Username"] + " - " + data["Title"] + "</p>");
                    }
                });
            });


            $("#aDD_ROW").click(function () {
                var cOUNT = $("#GEMAIL_Table").find('tr').length - 1;
                $("#GEMAIL_Table").append("<tr id='GEMAIL_" + cOUNT + "'>"
                                        + "<td><input type='text' class='form-control' value='" + cOUNT + "' readonly></td>"
                                        + "<td><input type='text' class='form-control' placeholder='Họ và tên'></td>"
                                        + "<td><input type='text' class='form-control' placeholder='Chức danh'></td>"
                                        + "<td><input type='text' class='form-control' placeholder='Tên nhóm Email'></td>"
                                        + "<td><input type='text' class='form-control' placeholder='Ý nghĩa nhóm Email'></td>"
                                        + "<td><input type='text' class='form-control' placeholder='Đối tượng trong nhóm Email'></td>"
                                        + "<td><input type='text' class='form-control' placeholder='Ghi chú'></td>"
                                        + "<td><i class='fas fa-trash-alt' onclick='rEMOVE_ROW(GEMAIL_" + cOUNT + ")'></i></td>"
                                    + "</tr>");
            });


            $("#btn_permission_Form").click(function () {
                if ($("#date_Start").val().length === 0 || $("#date_End").val().length === 0) {
                    if ($(this).val().length === 0) {
                        $("#aTTENTION_CONTENT").text("Xin chọn ngày bắt đầu hoặc kết thúc");
                        $("#btn_ATTENTION").click();
                        flag = 0;
                        return false;
                    }
                }
            });


            $("#sEND_GEMAIL_REQUEST").click(function () {
                var flag = 1;
                if ($("#form_Name").val().length === 0 || $("#dESCRIPTION").val().length === 0 ||
                    $("#date_Start").val().length === 0 || $("#date_End").val().length === 0 ||
                    $("#sHEET").val().length === 0 || $("#fileType").val().length === 0) {

                    $("#aTTENTION_CONTENT").text("Xin nhập đầy đủ thông tin");
                    $("#btn_ATTENTION").click();                    
                }                
                else {
                    //Save Uploaded File
                    var formData = new FormData();
                    formData.append(file.name, file);
                    $.ajax({
                        url: "@Url.Action("SaveUploadFile")",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data === false) {
                                flag = 0;
                                $('#info-modal').showModal({
                                    title: 'Thông báo',
                                    message: "Lỗi import file",
                                }, userInput => {
                                    location.reload();
                                });
                            }
                        }
                    });

                    var file = $("#fileType").get(0).files[0];
                    var listPersons = "";
                    $('#listPersons').find("p").each(function () {
                        listPersons = listPersons + $(this).attr("value") + ";";
                    });

                    var _formTemp = {
                        Id: file.name,
                        Name: $("#form_Name").val(),
                        Description: $("#dESCRIPTION").val(),
                        SheetIndex: $("#sHEET").val(),
                        PublishDate: $("#date_Start").val(),
                        CloseDate: $("#date_End").val(),
                        ViewPermissions: listPersons
                    };

                    var _formStepTemp = [];
                    $("#PermissionInfo > tbody > tr").each(function () {
                        var iTEM = {};
                        iTEM['Name'] = $(this).find("td").eq(0).find("option:selected").val();
                        iTEM['GroupIds'] = "";
                        $(this).find("td").eq(1).find("p").each(function () {
                            iTEM['GroupIds'] = iTEM['GroupIds'] + $(this).attr("value") + ";"
                        });
                        iTEM['AvailableFrom'] = $(this).find("td").eq(3).find("input").val();
                        iTEM['ExpireIn'] = $(this).find("td").eq(4).find("input").val();
                        iTEM['IsAllowSendEmail'] = $(this).find("td").eq(5).find("option:selected").val();
                        iTEM['ViewPermissions'] = "";
                        $(this).find("td").eq(6).find("p").each(function () {
                            iTEM['ViewPermissions'] = iTEM['ViewPermissions'] + $(this).attr("value") + ";"
                        });
                        iTEM['Form'] = _formTemp;
                        _formStepTemp.push(iTEM);
                    });

                    var _formStep = JSON.stringify(_formStepTemp);

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SendRequestAsync")",
                        data: _formStep,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            $('#info-modal').showModal({
                                title: 'Thông báo',
                                message: 'Đã lưu thành công dữ liệu của bạn.',
                            },
                            userInput => {
                                location.reload();
                            });
                        },
                        statusCode: {
                            400: function (resp) {
                                console.error(resp.responseJSON);
                                $('#info-modal').showModal({
                                    title: 'Thông báo',
                                    message: resp.responseJSON.Message
                                });
                            }
                        }
                    });
                }
            });

            $("#sEND_GEMAIL_IDEALLY").click(function () {
                var iDEALLY = [$("#8953").val(),
                                $("#8954").val(),
                                $("#8955").val(),];
                var FormID = $("#form_ID_Name").val();
                $.ajax({
                        type: "POST",
                        url: "@Url.Action("SendIdeally", "Home")",
                        data: { iDEALLY: iDEALLY, FormID: FormID},
                        traditional: true,
                        dataType: 'json',
                        success: function (data) {
                            $("#aTTENTION_CONTENT").text(data);
                            $("#btn_ATTENTION").click();
                        }
                    });
            });

            $("#AddProcesses").click(function () {
                var cOUNT = $("#PermissionInfo > tbody").find('tr').length + 1;
                $("#PermissionInfo").append(
                    "<tr id='processes_" + cOUNT + "'>"
                        + "<td>"
                        +   "<select class='custom-select mr-sm-2'>"
                        +       "<option selected value = 'Edit' > Đánh giá</option>"
                        +       "<option value='Opinion'>Ý kiến</option>"
                        +       "<option value='Confirm'>Xét duyệt</option>"
                        +   "</select ></td>"
                        + "<td>"
                        +   "<div type='button' id='list_" + cOUNT + "' onclick='Goto_addPermission_Modal(this.id)'>"
                        +       "<a>Thêm</a>"
                        +   "</div> </td>"
                        + "<td>" + cOUNT + "</td>"
                        + "<td> <input type='date' class='form-control' style='max-width: 85%; margin: auto' /> </td>"
                        + "<td> <input type='date' class='form-control' style='max-width: 85%; margin: auto' /> </td>"
                        + "<td>"
                        +   "<select class='custom-select mr-sm-2'>"
                        +       "<option selected value='false'>Off</option>"
                        +       "<option value='true'>On</option>"
                        +   "</select> </td>"
                        + "<td>"
                        +   "<div type='button' id='listViews_" + cOUNT + "' onclick='Goto_addPermission_Modal(this.id)'>"
                        +       "<a>Thêm</a>"
                        +   "</div> </td>"
                        + "<td> <i class='fas fa-trash-alt' onclick='RemoveProcesses(processes_" + cOUNT + ")'></i> </td>"
                    + "</tr>");
            });
        });

        function rEMOVE_ROW(value) {
           $('#' + value).remove();
        };

        function RemoveProcesses(value) {
            value.remove();
        };

        function RemoveListPersons(value) {
            value.remove();
        };

        function editForm(id) {
            $('#sEND_GEMAIL_IDEALLY').attr('disabled', false);
            $('#sEND_GEMAIL_REQUEST').attr('disabled', false);
            $('#aDD_ROW').attr('disabled', true);

            $('#sEND_GEMAIL_IDEALLY').show();
            $('#sEND_GEMAIL_REQUEST').hide();
            //$('#GEMAIL_Signature').children("input").attr('readonly', true);
            $.ajax({
                    type: "GET",
                    url: "@Url.Action("Get_cONTENT_FromExcelByFormID", "Home")",
                    data: { id: id },
                    traditional: true,
                    dataType: 'json',
                    success: function (data) {
                        $("#Organization").val(data[1]);
                        $("input[name='radio-group'][value=" + data[2] + "]").prop('checked', true);
                        $("input[name='radio-group']").attr('disabled', true);
                        if (data[3] != 8953) {
                            $("#8953").val(data[3]);
                        }
                        if (data[4] != 8954) {
                            $("#8954").val(data[4]);
                        }
                        if (data[5] != 8955) {
                            $("#8955").val(data[5]);
                        }
                        $("#" + data[0] + "").attr('readonly', false);
                        $("#form_ID_Name").val(id);
                    }
            });
            $.ajax({
                    type: "GET",
                    url: "@Url.Action("Get_iTEM_FromExcelByFormID", "Home")",
                    data: { id: id },
                    traditional: true,
                    dataType: 'json',
                    success: function (data) {
                        var tableLength = $('#GEMAIL_Table > tbody > tr').length;
                        var dataLength = (data.length / 7) + 1;
                        if (tableLength < dataLength) {
                            for (var i = tableLength; i < dataLength; i++) {
                                $("#aDD_ROW").click();
                            }
                        }
                        else if (tableLength >= dataLength) {
                            //for (var i = tableLength; i > dataLength; i--) {
                            //    rEMOVE_ROW($('#GEMAIL_Table > tbody > tr').eq(i-1).attr("id"));
                            //}
                            for (var i = tableLength; i > dataLength; i--) {
                                $('#GEMAIL_Table > tbody > tr').eq(i - 1).remove();
                            }
                        }
                        var i = 0;
                        $('#GEMAIL_Table > tbody > tr').each(function () {
                            $(this).find('td > input').each(function () {
                                $(this).val(data[i]);
                                $(this).attr('readonly', true);
                                i++;
                            });
                        });
                    }
            });
        };

        function viewForm(id) {
            //console.log($('#GEMAIL_Signature > p').children("input").attr('readonly'));
            //$('#GEMAIL_Signature').find('input').attr('readonly', true);
            Signature
            $('#GEMAIL_Signature').find('input').each(function () {
                $(this).attr('readonly', true);
            });
            $('#sEND_GEMAIL_IDEALLY').attr('disabled', true);
            $('#sEND_GEMAIL_REQUEST').attr('disabled', true);
            $('#aDD_ROW').attr('disabled', true);
            $.ajax({
                    type: "GET",
                    url: "@Url.Action("Get_cONTENT_FromExcelByFormID", "Home")",
                    data: { id: id },
                    traditional: true,
                    dataType: 'json',
                    success: function (data) {
                        $("#Organization").val(data[1]);
                        $("input[name='radio-group'][value=" + data[2] + "]").prop('checked', true);
                        $("input[name='radio-group']").attr('disabled', true);
                        if (data[3] != 8953) {
                            $("#8953").val(data[3]);
                        }
                        if (data[4] != 8954) {
                            $("#8954").val(data[4]);
                        }
                        if (data[5] != 8955) {
                            $("#8955").val(data[5]);
                        }
                        $("#form_ID_Name").val(id);
                    }
            });
            $.ajax({
                    type: "GET",
                    url: "@Url.Action("Get_iTEM_FromExcelByFormID", "Home")",
                    data: { id: id },
                    traditional: true,
                    dataType: 'json',
                    success: function (data) {
                        var tableLength = $('#GEMAIL_Table > tbody > tr').length;
                        var dataLength = (data.length / 7) + 1;
                        if (tableLength < dataLength) {
                            for (var i = tableLength; i < dataLength; i++) {
                                $("#aDD_ROW").click();
                            }
                        }
                        else if (tableLength >= dataLength) {
                            for (var i = tableLength; i > dataLength; i--) {
                                $('#GEMAIL_Table > tbody > tr').eq(i-1).remove();
                            }
                        }

                        var i = 0;
                        $('#GEMAIL_Table > tbody > tr').each(function () {
                            $(this).find('td > input').each(function () {
                                $(this).val(data[i]);
                                $(this).attr('readonly', true);
                                i++;
                            });
                        });
                    }
            });
        };

        function GetCurrentUserByID(id) {
            var iD = $("#" + id).val();
            if (iD.length > 0) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetCurrentUserByIDAsync", "Home")",
                    data: { id: iD },
                    traditional: true,
                    dataType: 'json',
                    success: function (data) {
                        if (data === null) {
                            $("#aTTENTION_CONTENT").text("Không tìm thấy mã nhân sự");
                            $("#btn_ATTENTION").click();
                            $("#" + id).val("");
                            return;
                        }
                        else {
                            $("#" + id).val(iD);
                        }
                    }
                });
            }
        };

        function Goto_addPermission_Modal(id) {
            $("#iD_modal").val(id);
            $("#btn_addPermission").click();

            $("#" + id).find("p").each(function () {
                var cOUNT = $("#listPersons_modal").find("p").length;
                if ($("#listPersons_modal").find("p[value='" + $(this).attr("value") + "']").length == 0) {
                    $("#listPersons_modal").append("<div id='person_Modal_" + cOUNT + "' style='display: flex'>"
                        + "<p value='" + $(this).attr("value") + "'>" + $(this).text() + "</p>"
                        + "<a onclick='RemoveListPersons(person_Modal_" + cOUNT + ")' style='margin-left: 10px'><i class='fas fa-trash-alt'></i></a>"
                        + "</div>");
                }
            })
        };

        function SaveListPersons() {
            $("#listPersons_modal > div").each(function () {
                if ($("#" + $("#iD_modal").val()).find("p[value='" + $(this).find("p").attr("value") + "']").length == 0) {
                    $("#" + $("#iD_modal").val()).append($(this).find("p"));
                    $("#" + $("#iD_modal").val()).find("a").remove();
                }
                $(this).remove();
            });
            $("#btn_Close_Modal").click();
        };

    </script>
}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<div>
    @*<button class="btn btn-primary" id="chct"></button>*@
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#GEMAIL_Permission_Form">
        <i class="fa fa-file"></i>
        Tạo mẫu mới
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #00717c; color: white">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="align-self:center;">Lựa chọn loại đề xuất</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" style="display:flex">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-search" style="color: white" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" id="sEARCH" placeholder="Tìm đề xuất" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="modal-content" style="background-color: #008c99">
                    <div class="list-group anyClass" id="rESULT">
                        <a href="#" data-toggle="modal" data-target="#GEMAIL_Permission_Form" name="test" class="list-group-item list-group-item-action">Phiếu yêu cầu - Group Email</a>
                        <a href="#" name="test" class="list-group-item list-group-item-action">Phiếu yêu cầu VPN</a>
                        <a href="#" name="test" class="list-group-item list-group-item-action">Phiếu yêu cầu Email</a>
                        <a href="#" name="test" class="list-group-item list-group-item-action">Phiếu đề nghị</a>
                        <a href="#" name="test" class="list-group-item list-group-item-action">Phiếu yêu cầu gửi Group Email</a>
                        <a href="#" name="test" class="list-group-item list-group-item-action">Phiếu yêu cầu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="GEMAIL_Form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #00717c; color: white">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="align-self:center;">Tạo đề xuất</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <input type="text" class="form-control" id="form_ID_Name" hidden>
                    <div style="display: flex; padding-bottom: 10px">
                        <div class="col-lg-6">
                            <div class="h4-custom"><b>NGÂN HÀNG TMCP KIÊN LONG</b></div><br />
                            <div class="h5-custom" style="display: flex">
                                <label style="margin-top: auto">Đơn vị:</label>
                                @*<input type="text" id="Organization" value="" readonly>*@
                                <input type="text" class="form-control" id="Organization" readonly style="margin-left: 10px">
                            </div>
                        </div>
                        <div class="col-lg-6" style="text-align: center;">
                            <div class="h4-custom"><b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b></div><br />
                            <div class="h4-custom">Độc lập - Tự do - Hạnh phúc</div><br />
                            <div class="h5-custom">_________________________</div><br />

                            <div class="h5-custom" style="text-align: end;" id="DateNow">
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom: -20px;">
                        <div style="text-align: center;">
                            <div class="h4-custom"><b>PHIẾU YÊU CẦU - GROUP EMAIL</b></div><br />
                            <div class="h5-custom">(Áp dụng khi cần tạo mới, điều chỉnh, xóa bỏ Group Mail)</div><br />
                        </div>
                        <h5>Kính gửi: <b>- Phòng Công nghệ thông tin</b></h5>
                        <div style="text-align: start; display:flex">
                            <div style="text-align: start; display:flex; width: 50%">
                                <h5>Nội dung: </h5>
                                <p style="margin-left: 20px;">
                                    <input type="radio" id="GEMAIL_Radio1" name="radio-group" value="1" checked>
                                    <label for="GEMAIL_Radio1">Tạo mới</label>
                                </p>
                                <p style="margin-left: 20px;">
                                    <input type="radio" id="GEMAIL_Radio2" name="radio-group" value="2">
                                    <label for="GEMAIL_Radio2">Điều chỉnh</label>
                                </p>
                                <p style="margin-left: 20px;">
                                    <input type="radio" id="GEMAIL_Radio3" name="radio-group" value="3">
                                    <label for="GEMAIL_Radio3">Xóa bỏ</label>
                                </p>
                            </div>
                            <div style="text-align: end; width: 50%">
                                <button type="button" class="btn-add" style="margin-top: 4px" id="aDD_ROW">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        @*<div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>*@
                    </div>
                    <div id="table-scroll" class="table-scroll" style="margin: 20px auto;">
                        <div class="table-wrap">
                            <table class="table" id="GEMAIL_Table" disable>
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Họ và tên</th>
                                        <th scope="col">Chức danh</th>
                                        <th scope="col">Tên nhóm Email</th>
                                        <th scope="col">Ý nghĩa nhóm Email</th>
                                        <th scope="col">Đối tượng trong nhóm Email</th>
                                        <th scope="col">Ghi chú</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">(1)</th>
                                        <th scope="row">(2)</th>
                                        <th scope="row">(3)</th>
                                        <th scope="row">(4)</th>
                                        <th scope="row">(5)</th>
                                        <th scope="row">(6)</th>
                                        <th scope="row">(7)</th>
                                        <th scope="row"></th>
                                    </tr>
                                    <tr id="GEMAIL_1">
                                        <td><input type="text" class="form-control" value="1" readonly></td>
                                        <td><input type="text" class="form-control" placeholder="Họ và tên"></td>
                                        <td><input type="text" class="form-control" placeholder="Chức danh"></td>
                                        <td><input type="text" class="form-control" placeholder="Tên nhóm Email"></td>
                                        <td><input type="text" class="form-control" placeholder="Ý nghĩa nhóm Email"></td>
                                        <td><input type="text" class="form-control" placeholder="Đối tượng trong nhóm Email"></td>
                                        <td><input type="text" class="form-control" placeholder="Ghi chú"></td>
                                        <td></td>
                                    </tr>
                                    <tr id="GEMAIL_2">
                                        <td><input type="text" class="form-control" value="2" readonly></td>
                                        <td><input type="text" class="form-control" placeholder="Họ và tên"></td>
                                        <td><input type="text" class="form-control" placeholder="Chức danh"></td>
                                        <td><input type="text" class="form-control" placeholder="Tên nhóm Email"></td>
                                        <td><input type="text" class="form-control" placeholder="Ý nghĩa nhóm Email"></td>
                                        <td><input type="text" class="form-control" placeholder="Đối tượng trong nhóm Email"></td>
                                        <td><input type="text" class="form-control" placeholder="Ghi chú"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div>
                        <div style="display:flex; margin-bottom: 20px">
                            <div class="h4-custom" style="width: 50% ;text-align: center;">
                                <b>Ý KIẾN GIÁM ĐỐC P.CNTT</b>
                                <input type="text" class="form-control Signature" id="8953" placeholder="Ý kiến Giám đốc P.CNTT">
                            </div>
                            <div class="h4-custom" style="width: 50% ;text-align: center;">
                                <b>TRƯỞNG ĐƠN VỊ</b>
                                <input type="text" class="form-control Signature" id="8954" placeholder="Ý kiến Trưởng đơn vị">
                            </div>
                        </div>
                        <div class="h4-custom" style="text-align: center;">
                            <b>TỔNG GIÁM ĐỐC</b>
                            <input type="text" class="form-control Signature" id="8955" placeholder="Ý kiến Tổng Giám đốc">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-5" style="margin-right: 8%">
                        @*<button class="btn btn-primary" id="sEND_GEMAIL_REQUEST" style="width: 80%">Gửi đề xuất</button>*@
                        <button class="btn btn-primary" id="sEND_GEMAIL_IDEALLY" style="width: 80%" value="true">Xác nhận</button>
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-secondary" id="sEND_GEMAIL_IDEALLY" style="width: 80%" data-dismiss="modal" value="false">Hủy bỏ</button>
                    </div>
                    <div hidden>
                        @*<a href="#" data-toggle="modal" data-target="#GEMAIL_Form" name="test" class="list-group-item list-group-item-action"></a>*@
                        <button type="button" data-toggle="modal" data-target="#aTTENTION" id="btn_ATTENTION">Thông báo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="GEMAIL_Permission_Form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #00717c; color: white">
                    <h5 class="modal-title" id="exampleModalLongTitle">Phân quyền</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @*<form class="ui form" method="post" enctype="multipart/form-data" asp-controller="" asp-action="SaveUploadFile">*@
                <div class="modal-body">
                    <div>
                        <div style="display: flex; margin: 10px">
                            <div class="col-md-2">
                                <label style="margin: 4px">Tên mẫu: </label>
                            </div>
                            <div class="col-md-8" style="display: flex">
                                <input type="text" class="form-control" id="form_Name" placeholder="Nhập tên mẫu">
                            </div>
                        </div>
                        <div style="display: flex; margin: 10px">
                            <div class="col-md-2">
                                <label style="margin: 4px">Mô tả: </label>
                            </div>
                            <div class="col-md-8" style="display: flex">
                                <input type="text" class="form-control" id="dESCRIPTION" placeholder="Nhập mô tả">
                            </div>
                        </div>
                        <div style="display: flex; margin: 10px">
                            <div class="col-md-2">
                                <label style="margin: 4px">Thời gian: </label>
                            </div>
                            <div class="col-md-11" style="display: flex">
                                <div class="col-md-4" style="display: flex; align-items: baseline; margin-left: -30px">
                                    <div class="col-md-4">
                                        <label>Bắt đầu:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input id="date_Start" type="date" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4" style="display: flex; align-items: baseline">
                                    <div class="col-md-4">
                                        <label>Kết thúc:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input id="date_End" type="date" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; margin: 10px">
                            <div class="col-md-2">
                                <label style="margin: 4px">Thêm file: </label>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input type="file" class="form-control-file" id="fileType" name="fileType">
                                </div>
                            </div>
                            <div class="col-md-3" style="display: flex">
                                <div>
                                    <label style="margin: 4px">Sheet</label>
                                </div>
                                <div style="max-width: 20%">
                                    <input type="text" class="form-control" id="sHEET" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; margin: 10px">
                            <div class="col-md-3">
                                <input list="Employees" class="form-control" id="input_Employee" placeholder="Mã/Tên nhân sự">
                                <datalist id="Employees">
                                </datalist>
                            </div>
                            <div class="col-md-3">
                                <input type="text" list="Position" class="form-control" id="input_Position" placeholder="Mã/Tên chức danh">
                                <datalist id="Position">
                                </datalist>
                            </div>
                            <div class="col-md-3">
                                <input list="Level1" class="form-control" id="input_Level1" placeholder="Mã/Tên Level1">
                                <datalist id="Level1">
                                </datalist>
                            </div>
                            <div class="col-md-2">
                                <input list="Level2" class="form-control" id="input_Level2" placeholder="Mã/Tên Level2">
                                <datalist id="Level2">
                                </datalist>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn-add" style="margin-top: 4px" id="addPerson">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div style="display: flex; margin: 10px">
                            <div class="col-md-2">
                                <label style="margin: 4px">Danh sách theo dõi:</label>
                            </div>
                            <div class="col-md-8" id="listPersons" style="padding-top: 6px">
                            </div>
                        </div>
                        @*<div style="display: flex; margin: 10px">
                                <div class="col-md-2">

                                </div>

                            </div>*@

                        <div style="display: flex; margin: 10px">
                            <div class="col-md-2">
                                <label style="margin: 4px">Quy trình tham gia:</label>
                            </div>
                            <div class="col-md-10" id="" style="margin: 4px">
                                <div style="text-align: end; width: 50%">
                                    <button type="button" class="btn-add" style="margin-top: 4px" id="AddProcesses">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; margin: 10px">
                            <div id="table-scroll" class="table-scroll" style="margin: 10px auto;">
                                <div class="table-wrap">
                                    <table class="table" id="PermissionInfo">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Mô tả</th>
                                                <th scope="col">Tham gia</th>
                                                <th scope="col">Bước</th>
                                                <th scope="col">Bắt đầu</th>
                                                <th scope="col">Kết thúc</th>
                                                <th scope="col">Send Mail</th>
                                                <th scope="col">Theo dõi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <select class="custom-select mr-sm-2">
                                                        <option selected value="Edit">Điều chỉnh</option>
                                                        <option value="Opinion">Ý kiến</option>
                                                        <option value="Confirm">Xét duyệt</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div type="button" id="list_1" onclick="Goto_addPermission_Modal(this.id)">
                                                        <a>Thêm</a>
                                                    </div>                                                    
                                                </td>
                                                <td>1</td>
                                                <td><input type="date" class="form-control" style="max-width: 85%; margin: auto" /></td>
                                                <td><input type="date" class="form-control" style="max-width: 85%; margin: auto" /></td>
                                                <td>
                                                    <select class="custom-select mr-sm-2">
                                                        <option selected value="false">Off</option>
                                                        <option value="true">On</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div type="button" id="listViews_1" onclick="Goto_addPermission_Modal(this.id)">
                                                        <a>Thêm</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-5" style="margin-right: 8%">
                        <button type="submit" class="btn btn-primary" id="sEND_GEMAIL_REQUEST" value="save" style="width: 80%">Gửi biểu mẫu</button>
                    </div>
                    <div class="col-md-5">
                        <button type="button" class="btn btn-secondary" style="width: 80%" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                    <button type="button" data-toggle="modal" data-target="#addPermission" id="btn_addPermission" hidden></button>
                </div>
                @*</form>*@
            </div>
        </div>
    </div>

    <div class="modal fade" id="aTTENTION" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 50%">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #00717c; color: white;">
                    <h3 class="modal-title" style="padding-left: 42%">Thông báo</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="icon_dismiss" style="color: white">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center">
                    <p id="aTTENTION_CONTENT"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="addPermission" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="width: 80%; margin: auto">
                <div class="modal-header" style="background-color: #00717c; color: white">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="align-self:center;">Phân quyền nhân viên</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <input type="text" id="iD_modal" hidden>

                <div class="modal-body">
                    <div style="display: flex; margin: 10px">
                        <div class="col-md-3">
                            <input list="Employees" class="form-control" id="input_Employee_modal" placeholder="Mã/Tên nhân sự">
                            <datalist id="Employees">
                            </datalist>
                        </div>
                        <div class="col-md-3">
                            <input type="text" list="Position" class="form-control" id="input_Position_modal" placeholder="Mã/Tên chức danh">
                            <datalist id="Position">
                            </datalist>
                        </div>
                        <div class="col-md-3">
                            <input list="Level1" class="form-control" id="input_Level1_modal" placeholder="Mã/Tên Level1">
                            <datalist id="Level1">
                            </datalist>
                        </div>
                        <div class="col-md-2">
                            <input list="Level2" class="form-control" id="input_Level2_modal" placeholder="Mã/Tên Level2">
                            <datalist id="Level2">
                            </datalist>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn-add" style="margin-top: 4px" id="addPerson_modal">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div style="display: flex; margin: 10px">
                        <div class="col-md-2">
                            <label style="margin: 4px">Danh sách:</label>
                        </div>
                        <div class="col-md-8" id="listPersons_modal" style="padding-top: 6px">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" onclick="SaveListPersons()">Lưu</button>
                    <button type="button" class="btn btn-secondary" id="btn_Close_Modal" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="info-modal" class="ui tiny test modal">
        <div class="header">
            Delete Your Account
        </div>
        <div class="content">
            <p>Are you sure you want to delete your account</p>
        </div>
        <div class="actions">
            <div class="ui approve button main right labeled icon">
                Đồng ý
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>

<div id="menu-tab" class="ui top attached tabular menu">
    <a class="item active" data-tab="edit">
        <i class="inbox icon"></i> Cần thực hiện
        @if (Model.EditForms?.Count > 0)
        {<span>@Model.EditForms.Count</span>}
    </a>
    <a class="item" data-tab="confirm">
        <i class="check square icon"></i> Xét duyệt
        @if (Model.ConfirmForms?.Count > 0)
        {<span>@Model.ConfirmForms.Count</span>}
    </a>
    <a class="item" data-tab="opinion">        
        <i class="fa fa-pencil-square-o icon"></i> Ý kiến
        @if (Model.OpinionForms?.Count > 0)
        {<span>@Model.OpinionForms.Count</span>}
    </a>
    <a class="item" data-tab="view">
        <i class="eye icon"></i> Xem
        @if (Model.ViewForms?.Count > 0)
        {<span>@Model.ViewForms.Count</span>}
    </a>
</div>

<div class="ui tab segment active" data-tab="edit">
    <div class="ui relaxed divided list list-form">

        @if (Model.EditForms?.Count > 0)
        {
            foreach (var form in Model.EditForms)
            {
                <div class="item">
                    <div class="right floated content">
                        @*<a href="#" id="@form.Id" class="ui button blue" onclick="editForm(this.id)" data-toggle="modal" data-target=@form.FormName>Thực hiện</a>*@
                        <a href="@Url.Action("About", "Home", new { formId = form.Id })" class="ui button">Thực hiện</a>
                    </div>
                    <div class="content">
                        <div class="form-name">@form.Name</div>
                        <div class="description">@form.Description</div>
                    </div>
                </div>
            }
        }
        else
        {
            <p style="padding: 20px 0;">Không có biểu mẫu nào cần <b>Đánh Giá</b> vào lúc này.</p>
        }

    </div>
</div>

@*<div class="ui tab segment" data-tab="confirm">
        <div class="ui relaxed divided list list-form">
            @if (Model.ConfirmForms?.Count > 0)
            {
                foreach (var form in Model.ConfirmForms)
                {
                    <div class="item">
                        <div class="right floated content">
                            <a href="@Url.Action("FormConfirm", "Form", new { formId = form.Id })" class="ui button main">Xét duyệt</a>
                        </div>
                        <div class="content">
                            <div class="form-name">@form.Name</div>
                            <div class="description">@form.Description</div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p style="padding: 20px 0;">Không có biểu mẫu nào cần <b>Xét Duyệt</b> vào lúc này.</p>
            }
        </div>
    </div>*@

<div class="ui tab segment" data-tab="confirm">
    <div class="ui relaxed divided list list-form">
        @if (Model.ConfirmForms?.Count > 0)
        {
            foreach (var form in Model.ConfirmForms)
            {
                if (form.ActionType == "confirm")
                {
                    <div class="item">
                        <div class="right floated content">
                            <a href="@Url.Action("Contact", "Home", new { formId = form.Id })" class="ui button main">Xét duyệt</a>
                        </div>
                        <div class="content">
                            <div class="form-name">@form.Name</div>
                            <div class="description">@form.Description</div>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <p style="padding: 20px 0;">Không có biểu mẫu nào cần <b>Xét Duyệt</b> vào lúc này.</p>
        }
    </div>
</div>

<div class="ui tab segment" data-tab="opinion">
    <div class="ui relaxed divided list list-form">
        @if (Model.OpinionForms?.Count > 0)
        {
            foreach (var form in Model.OpinionForms)
            {
                <div class="item">
                    <div class="right floated content">
                        <a href="@Url.Action("Excel", "Home", new { formId = form.Id})" class="ui button">Thực hiện</a>
                    </div>
                    <div class="content">
                        <div class="form-name">@form.Name</div>
                        <div class="description">@form.Description</div>
                    </div>
                </div>
            }
        }
        else
        {
            <p style="padding: 20px 0;">Không có biểu mẫu nào để <b>Thực hiện</b> vào lúc này.</p>
        }
    </div>
</div>

<div class="ui tab segment" data-tab="view">
    <div class="ui relaxed divided list list-form">
        @if (Model.ViewForms?.Count > 0)
        {
            foreach (var form in Model.ViewForms)
            {
                <div class="item">
                    <div class="right floated content">
                        <a href="@Url.Action("Excel", "Home", new { formId = form.Id})" class="ui button">Xem</a>
                    </div>
                    <div class="content">
                        <div class="form-name">@form.Name</div>
                        <div class="description">@form.Description</div>
                    </div>
                </div>
            }
        }
        else
        {
            <p style="padding: 20px 0;">Không có biểu mẫu nào để <b>Xem</b> vào lúc này.</p>
        }
    </div>
</div>

@*<div class="ui tab segment" data-tab="view">
        <div class="ui relaxed divided list list-form">
            @if (Model.ViewForms?.Count > 0)
            {
                foreach (var form in Model.ViewForms)
                {
                    <div class="item">
                        <div class="right floated content">
                            @if (!string.IsNullOrEmpty(form.ViewType) && form.ViewType.Equals("list"))
                            {
                                <a href="@Url.Action("FormViews", "Form", new { formId = form.Id})" class="ui button">Xem</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Form", "Form", new { formId = form.Id})" class="ui button">Xem</a>
                            }
                        </div>
                        <div class="content">
                            <div class="form-name">@form.Name</div>
                            <div class="description">@form.Description</div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p style="padding: 20px 0;">Không có biểu mẫu nào để <b>Xem</b> vào lúc này.</p>
            }
        </div>
    </div>*@


<style>
    .input[type=text] {
        font-weight: bold;
    }

    .btn {
        background-color: #00717c;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
    }

    .btn-add {
        background-color: #00717c;
        border-color: #00717c;
        color: white;
    }


    .h4-custom {
        font-size: 20px;
        margin-bottom: -12px;
        font-weight: 500;
        line-height: 1.2;
    }

    .h5-custom {
        font-size: 15px;
        margin-bottom: -12px;
        font-weight: 500;
        line-height: 1.2;
    }

    .form-check {
        position: relative;
        display: block;
        padding-left: 4.25rem;
    }

    .modal-dialog {
        max-width: 85%;
        margin: 1.75rem auto;
    }

    .modal-dialog-aTTENTION {
        max-width: 50%;
        margin: 1.75rem auto;
    }

    .anyClass {
        height: 300px;
        overflow-y: scroll;
    }

    /* Darker background on mouse-over */
    .btn:hover {
        background-color: #00717c;
    }

    .table-scroll {
        position: relative;
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
        border: 1px solid #0f848d;
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
        text-align: center;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border-bottom: 1px solid #0f848d;
        border-right: 1px solid #0f848d;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll thead, .table-scroll tfoot {
        background: #f9f9f9;
    }

    /*.clone {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

        .clone th, .clone td {
            visibility: hidden
        }

        .clone td, .clone th {
            border-color: transparent
        }

        .clone tbody th {
            visibility: visible;*/
    /*color:red;
        }

        .clone .fixed-side {
            border-bottom: 1px solid #0f848d;
            border-right: 1px solid #0f848d;
            background: #daf1f3;
            visibility: visible;
        }*/

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #666;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 3px;
                width: 18px;
                height: 19px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 12px;
                height: 13px;
                background: #00717c;
                position: absolute;
                top: 6px;
                left: 3px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

    .table .thead-dark th {
        background-color: #00717c;
    }

    .table-scroll th, .table-scroll td {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
    }

    .Signature {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
</style>